<div class="container mt-3">
    <%= form_with(url: session_path, local: true) do |form|%>
        <div class = "form-group">
            <b><%= form.label :Email%></b>
            <%= form.email_field :email, class: "form-control"%>
        </div>
        <div class = "form-group">
            <b><%= form.label :Password%></b>
            <%= form.password_field :password, class: "form-control"%>
        </div>
        <div class = "form-group">
            <b><%= form.label :Password_Confirmation%></b>
            <%= form.password_field :password_confirmation, class: "form-control"%>
        </div>
            <%= form.submit "Log in", class: "btn btn-outline-primary"%>
    <% end %>
</div>