<!DOCTYPE html>
<html>
  <head>
    <title>QuizTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="navbar-brand text-primary">
         <%= link_to("/") do%>
            <%= image_tag 'lightbulb', class: "image" %>  
            <p>Idea Factory</p>
         <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="nav-link text-primary">
              <%= link_to("Home", "/")%>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link text-primary">
                    <%= link_to("New Idea", new_idea_path)%>
            </div>
          </li>
          <%if user_signed_in?%>
            <li class="nav-item">
              <div class="nav-link text-primary" >
                Hello <%= current_user.first_name %> -
                <%= link_to "Logout", "/session",
                      method: :delete,
                      data: {confirm: "are you sure you want to log out?"} %>
              </div>
            <%else%>
              <div class="nav-link text-primary" >
                <%= link_to "Sign In", new_session_path %>
              </div>
              <div class="nav-link text-primary" >
                <%= link_to "Sign Up", new_user_path %>
              </div>
            </li>
            <% end %>
      </div>
    </nav>
  </header>
  <main class="container-fluid mt-3">
      <% flash.each do |type, message|%>
        <div class="alert alert-<%= type%>">
          <%= message %>
        </div>
      <% end %>
  </main>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
